<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/content/signupstyle.css" />

</head>
<body>
    <div class="aboutcontainer">
        
        <div class="about-cnt"><h1>My Website Details</h1></div>
        

        <section>
            <h2>Why I Created This Website</h2>
            <p>I created this project for my college to address EV Charging and Solutions. It showcases my skills in (HTML, CSS, Python and DATABASE) and demonstrates my passion for WEB DEVELOPMENT. The project not only fulfills academic requirements but also serves as a practical application of my knowledge and a testament to my commitment to continuous learning and improvement. <br> Thank You</p>

            <h2>Technologies Used</h2>
            <p>This website is created using HTML and CSS for the front end. I used Python as backend technology to handle server-side functionalities. The website also connects to a SQL SERVER DATABASE for data storage.</p>

            <h2>Contact Information</h2>
            <p>Email: hussainnaved7089@gmail.com</p>
            <p>Phone: +91 7089-050-966</p>

            <a href="index" class="button">Visit My Website</a>
        </section>
    </div>
</body>
</html>
