<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/content/signupstyle.css" />
</head>
<body>
    <div class="sbox">
        <div class="icon">&#128267;</div>
        <h2 class="label">Fast Charging</h2>
        <p>Find the fast charging spot near you</p>
        <button class="button"><a href="map">Find Now</a></button>
    </div>

    <div class="sbox">
        <div class="icon">&#128176;</div>
        <h2 class="label">Rates and Plans</h2>
        <p>Know about rates and plans</p>
        <button class="button"><a href="rap">Choose</a></button>
    </div>

    <div class="sbox">
        <div class="icon">&#128197;</div>
        <h2 class="label">Booking Slot</h2>
        <p>Book your slot in advance and save time</p>
        <button class="button"><a href="bookslot">Book Now</a></button>
    </div>
</body>
</html>
