<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Confirmation</title>
    <link href="../static/content/confirmation.css" rel="stylesheet" />
</head>

<body>
    <div class="confirmation-container">
        <h1>Thank You for Signing Up!</h1>
        <p>Your account has been successfully created. We're excited to have you on board.</p>
        <p>Explore our website to discover amazing features and services.</p>
        <a href="index" class="main-button">Visit Our Main Website</a>
    </div>
</body>

</html>
