<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/static/content/signupstyle.css" />
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/static/content/logo.png" class="logo">
            <ul>
                <li><a href="chargeafter">CHARGING</a></li>
                <li><a href="service">SERVICES</a></li>
                <li><a href="products">PRODUCTS</a></li>
                <li><a href="benefits">BENEFITS</a></li>
                <li><a href="about">ABOUT</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Charge Now<br>Go Green</h1>
            <div>
                <a href="./signin"><button type="button"><span></span>SIGN IN</button></a>
                <a href="partners"><button type="button"><span></span>BECAME PARTNER</button></a>
            </div>

        </div>
    </div>
</body>
</html>