<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/content/signupstyle.css" />
    <title>Your Shop</title>
</head>
<body>
    <div class="productcontainer">
        <div class="heading1"><h1>You can buy our products</h1></div>
        

        <main>
            <section class="product">
                
                <img src="../static/content/product1.jpg" />
                <h2>Battery</h2>
                <p>E-Bike Battery</p>
                <p class="price">₹1499</p>
                <button>Buy Now</button>
            </section>

            <section class="product">
                <img src="../static/content/product2.jpg" />
                <h2>Controller</h2>
                <p>E-Bike Wire Controller</p>
                <p class="price">₹999</p>
                <button>Buy Now</button>
            </section>

            <section class="product">
                <img src="../static/content/product3.jpg" />
                <h2>E-Brake Wire</h2>
                <p>High Quality Brake Wire</p>
                <p class="price">₹499</p>
                <button>Buy Now</button>
            </section>







        </main>
    </div>


</body>
</html>

