<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/content/signupstyle.css" />
</head>
<body>
    <div class="productcontainer">
        <div class="heading1"><h1>Electric Vehicle Charging Plans</h1></div>
        <main>
            <section class="product">


                <h2>Standard Plan</h2>
                <p>Charge your electric vehicle at standard rates.</p>
                <p>Price: 10.00 per kWh</p>

                
            </section>

            <section class="product">

                <h2>Premium plans</h2>
                <p>Get faster charging speeds with our premium plan.</p>
                <p>Price: 12.00 per kWh</p>

                
            </section>

            <section class="product">

                <h2>Unlimited Plan</h2>
                <p>Charge as much as you want for a fixed monthly fee.</p>
                <p>Price: 500 per month</p>

                
            </section>
        </main>
    </div>


</body>
</html>

