<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/content/signupstyle.css" />

</head>
<body>
    <div class="service-box">
        <div class="service">
            <i class="fas fa-cogs"></i>
            <h2></i> HOME CHARGING INSTALLATION</h2>
            <p>
                Installing an EV charging point at home involves
                several steps. Here's a brief overview.
            </p>
            <button class="read-more-btn"><a href="../static/content/video1.mp4">Watch Video</a></button>
        </div>

        <div class="service">
            <i class="fas fa-chart-bar"></i>
            <h2> SHOP CHARGING INSTALLATION</h2>
            <p>
                Installing an EV charging point at shop involves
                several steps. Here's a brief overview.
            </p>
            <button class="read-more-btn"><a href="../static/content/video2.mp4">Watch Video</a></button>
        </div>


    </div>

</body>
</html>

