<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/content/signupstyle.css" />
    <script src="https://kit.fontawesome.com/4e3b9c0120.js" crossorigin="anonymous"></script>
    <title>Sign Up</title>
</head>
<body>
    <form method="POST">
        <div class="box">
            <div class="container">
                <div class="top-header">
                    
                    <header>Sign Up</header>
                </div>
                <div class="input-field">
                    <input type="text" class="input" placeholder="Username" id="name" name="username" >
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="input-field">
                    <input type="email" class="input" placeholder="E-mail" id="email" name="email" required>
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <div class="input-field">
                    <input type="number" class="input" placeholder="Phone Number" id="phone" name="phone" required>
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="input-field">
                    <input type="text" class="input" placeholder="City" id="city"  name="city" required>
                    <i class="fa-solid fa-city"></i>
                </div>
                <div class="input-field">
                    <input type="password" class="input" placeholder="Password" id="passcode" name="passcode" required>
                    <i class="fa-solid fa-lock"></i>
                    <div>
                        <div class="input-field">
                            <input type="submit" class="submit" value="Sign up">
                        </div>



                    </div>
                </div>
            </div>

        </div>

    </form>
</body>
</html>