body {
    
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(5.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    margin: 200px auto;
    padding: 20px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    
}

h1 {
    color: #4CAF50;
}

p {
    color: #fff;
}

.main-website-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.main-website-button:hover {
    background-color: #45a049;
}
