        body {
            background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(5.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            
        }

        header {
            color: white;
            text-align: center;
            padding: 20px;
        }

        section {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 20px;
        }

        .booking-form {
            width: 400px;
            background: transparent;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
            margin: 10px;
            box-sizing: border-box;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
        }

        h2 {
            color: green;
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #fff;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        .a {
            padding: 10px;
            background-color: green;
            color: rgb(255, 255, 255);
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .time-input-container {
             display: flex;
             gap: 10px;
}

        .time-input-container label {
             width: 40px; 

    }

        .time-input-container input {
             width: 150px; 
    }