body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.confirmation-container {
    max-width: 900px;
    margin: 120px auto;
    background: transparent;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

h1 {
    color: green;
}

p {
    color: #fff;
    line-height: 1.6;
}

.main-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .main-button:hover {
        background-color: green;
    }
